version: "3.4"
services:
  front:
    image: flask-front
    container_name: flask-front
    build:
      context: .
      dockerfile: frontapp.Dockerfile
    ports:
      - 8080:8080
      
  backend:
    image: flask-backend
    container_name: flask-backend
    build:
      context: .
      dockerfile: backendapp.Dockerfile
    hostname: backend
    ports:
      - 5000:5000
    environment:
      - QUOTE_OF_THE_DAY=Move your honourable arse!