apiVersion: v1
kind: Pod
metadata:
  name: frontapp
  labels:
    name: front
spec:
  containers:
    - name: flask-front
      image: flask-front
      imagePullPolicy: Never
      ports:
        - containerPort: 8080
          hostPort: 8080
---

apiVersion: v1
kind: Pod
metadata:
  name: backendapp-1
  labels:
    name: backend
spec:
  containers:
    - name: flask-backend
      image: flask-backend
      imagePullPolicy: Never
      ports:
        - containerPort: 5000
      env:
        - name: QUOTE_OF_THE_DAY
          value: Move your honourable arse!
---

apiVersion: v1
kind: Pod
metadata:
  name: backendapp-2
  labels:
    name: backend
spec:
  containers:
    - name: flask-backend
      image: flask-backend
      imagePullPolicy: Never
      ports:
        - containerPort: 5000
      env:
        - name: QUOTE_OF_THE_DAY
          value: Stop whining and get to work!
---

apiVersion: v1
kind: Service
metadata:
  name: backend  # this name must be same as the hostname used in the frontapp.py
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
  selector:
    name: backend