version: "3.4"
services:
  webapp:
    build: .
    image: flask-webapp
    container_name: flask-webapp
    ports:
      - 5000:5000
    # The healthcheck can be placed here or in the dockerfile
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:5000/health || exit 1"]
      interval: 10s
      timeout: 30s
      retries: 3
      start_period: 5s