apiVersion: v1
kind: Pod
metadata:
  name: flask-webapp
  labels:
    name: flaskapp
spec:
  containers:
    - name: flask-webapp
      image: flask-webapp
      imagePullPolicy: Never
      resources:
        limits:
          cpu: "0.5"
          memory: 0.5Gi
      ports:
        - containerPort: 5000
          hostPort: 7000
      env:
        - name: DISH_NAME
          value: PIZZA 1